@page "/Architecture"

<PageTitle>Architecture</PageTitle>

<div class="main-content">
<h1>Architecture</h1>

<p>There are different types of server architecture for SPAs. Different types each serve different purposes, with some being more or less complex.</p>

<h3>Thin Server Architecture</h3>
<p>A server is "thin" if most of the logic has moved from the server to the client. A thin server acts mainly as a web service or api, with the stated goal of having lexx complexity overall.</p>

<h3>Thick Stateful Server Architecture</h3>
<p>A server is "thick" if most of the logic is on the server. This is the traditional way of building web applications, with the server rendering the html and sending it to the client. The server is stateful, meaning it keeps track of the state of the application.</p>

<h3>Thick Stateless Server Architecture</h3>
<p>Similar to a Thick Stateful Server Architecture, this server is "thick" as most of the logic and html rendering is in the server. The key difference between these two is that this architecture does not store any state.</p>
</div>